body{
background: conic-gradient(from 210deg, #c5bbb8 0.000deg, #c5bbb8 24.000deg, #b8b5b8 calc(24.000deg + 0.1deg), #b8b5b8 48.000deg, #a9afb7 calc(48.000deg + 0.1deg), #a9afb7 72.000deg, #9aa8b5 calc(72.000deg + 0.1deg), #9aa8b5 96.000deg, #8ba1b3 calc(96.000deg + 0.1deg), #8ba1b3 120.000deg, #7d98af calc(120.000deg + 0.1deg), #7d98af 144.000deg, #7090ab calc(144.000deg + 0.1deg), #7090ab 168.000deg, #6587a6 calc(168.000deg + 0.1deg), #6587a6 192.000deg, #5c7ea1 calc(192.000deg + 0.1deg), #5c7ea1 216.000deg, #55759b calc(216.000deg + 0.1deg), #55759b 240.000deg, #516c94 calc(240.000deg + 0.1deg), #516c94 264.000deg, #4f638d calc(264.000deg + 0.1deg), #4f638d 288.000deg, #505a85 calc(288.000deg + 0.1deg), #505a85 312.000deg, #54537d calc(312.000deg + 0.1deg), #54537d 336.000deg, #5b4b74 calc(336.000deg + 0.1deg) 360.000deg);

}

.Container{
  text-align: center;
}
h1{
   font-size: 2.5rem;
}
 .task{
  gap: 20px;
    margin: 15px;
    display: flex;
    justify-content: center;
    
  
 }
 #TAsk{
    height: 30px;
    width: 15rem;
    margin: 2px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 5%;
text-decoration: none;
 }

 /* }
 #para{
   margin: 3px;
   background-color: rgb(134, 134, 226);
   font-weight: 900;
   font-size: 1rem;
border: 2px solid green
;
border-radius: 10%;
text-decoration: none;

} */


 #delete{
  background-color: rgb(241, 241, 18);
  width: 55px;
font-size: 15px;
border-radius: 10%;

}
.listvalue ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.raj {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  margin: 10px auto;
  
  padding: 5px 10px;
}

.raj h2 {
  margin: 0;
  color: green;
}

.raj button {
  width: 70px;
  padding: 8px;
  margin-left: 20px;
  color: red;
  background-color: rgb(145, 127, 247);
  border-radius: 10%;
}