

.Container {
    display: flex;
    flex-wrap: wrap;
       flex-wrap: nowrap;
   
}
.Box:hover{
    background-color: brown;
    transform: rotateX('180');
}
.Age{
  color: red;
}

.Box{
background-color: aqua;
    height: 16rem;
    width: 15rem;
    text-align: center;
    margin:12px;
     border: 2px solid green; 
     border-radius: 3.5px;
    box-shadow: 1px 1.5px 13px   rgb(196, 21, 202);
}
button{
    height: 2rem;
    width: 5rem;
    border: 1px solid blue;
    box-shadow:  1px 2px 3px red;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(50, 73, 205);
    
} 
