/* body{
  background-color: rgb(223, 191, 191);
}
h1{
  color: red;
}
#root {
  display: flex;
gap: 20px;
flex-wrap: wrap;
height: 30%;
width: 50%;
border: 2px solid blue;
/* flex-direction: column; */
   
 /* } */


/* .card {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: lightblue;



}
 .card:hover{

  box-shadow: 1px solid red;
} 
.card button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   box-shadow: 1px solid red;

}
img{
  height: 20px;;
  width: 20px;
  margin: 10px;
  align-items: center;
} */